<div class="cal-day-panel-hour clearfix" ng-if="vm.horizontalView">



  <div class="hourGrid" ng-repeat="hour in vm.hourGrid track by $index">
    <div    class="SingleHour"
            ng-repeat="segment in hour.segments track by $index"
            mwl-droppable
            ng-if="!vm.dayWidth">
      <div class="cal-day-hour-part-time">
        <p ng-bind="segment.date | calendarDate:'hour':true" ng-if="segment.isStart"></p>
      </div>
    </div>
  </div><!--.hourGrid-->
</div><!--.cal-day-panel-hour-->
